body {
  text-align: center;
}

.form-container {
  box-sizing: border-box;
  padding: 20px;
  background-color: gray;
  margin: 30px 100px;
}

h1 {
  color: seagreen;
}

#submit {
  background-color: aqua;
}
